$red: #9d2d36;
$black: #101010;
$grey: #979797;
$lightGrey: #e2e2e2;
$purple: #691f44;
$autumn: #debd9e;
$autumnDark: #732b24;
$autumnDarkGradient: #{"linear-gradient(to bottom,  #732b24 1%,#823629 100%);"};
