.login {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  &__box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.2);
    padding: 3rem;
    display: flex;
    flex-direction: column;

    &__formGroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      &--checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        label {
          margin: 0 0 0 5px;
          font-size: 0.9rem;
        }
      }
      label {
        font-size: 0.9rem;
        color: $grey;
      }
    }
    &__btnSignup {
      font-size: 0.8rem;
      width: 100px;
      padding: 10px;
      margin: 2rem 0 0 auto;
    }
    &__btnSignin {
      margin-top: 2rem;
      font-size: 1rem;
      background-color: $purple;
      color: white;
    }
    &__btnRegistrati {
      margin-top: 2rem;
      font-size: 1rem;
      background-color: $purple;
      color: white;
    }
  }
}
