.login {
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  &__box {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(192, 192, 192, 0.2);
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &__formGroup {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      label {
        font-size: 0.9rem;
        color: $grey;
      }
    }
    button {
      margin-top: 2rem;
      font-size: 1rem;
    }
  }
}
