.navBar {
  display: flex;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 200;
  position: relative;
  &__searchField {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.5rem;
    &__button {
      display: inline-block;
      height: 36px;
    }

    input {
      height: 36px;
      width: 300px;
      border: none;
      border-radius: 20px;
      background-color: $lightGrey;
      padding-left: 1rem;
    }
  }

  &__boxLogo {
    flex: 1;
  }
  &__menuIcon {
    cursor: pointer;
    width: 30px;
    font-size: 1.8rem;
  }
  &__mainNav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -100vw;
    z-index: 100;
    text-align: center;
    &__navList {
      text-align: center;
      font-size: 2rem;
      text-transform: capitalize;
      font-family: "Playfair Display", serif;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__listItem {
        margin: 1rem 0;
      }
    }
    &__closeBtn {
      cursor: pointer;
      display: inline-block;
      font-size: 2rem;
      margin: 2rem;
      border: 1px solid $black;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      padding-top: 8px;
    }
  }
  &__userBox {
    display: flex;
    font-size: 1.7rem;

    justify-content: space-around;
    top: -5px;
    margin-right: 1rem;
    color: #691f44;

    align-items: center;
    position: relative;
    &__user {
      cursor: pointer;
      margin-right: 6px;
    }
    &__cart {
      cursor: pointer;
    }
    &__login {
      cursor: pointer;
      a {
        color: $purple;
      }
    }
  }
}
.cartDrawer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  &__container {
    position: fixed;
    height: 100vh;
    background: white;
    box-shadow: 1px 3px 6px #cecece;
    max-width: 440px;
    width: 100%;
    top: 0;
    z-index: 1;
    padding-top: 2rem;
    h2 {
      text-align: center;
    }
  }
  &__backGroundClose {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
  }
}
