.navBar {
  display: flex;
  justify-content: center;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 200;
  position: relative;
  &__searchField {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &__button {
      display: inline-block;
      height: 36px;
    }

    input {
      height: 36px;
      border: none;
      border-radius: 0;
      background-color: $lightGrey;
    }
  }
  &__boxLogo {
    flex: 1;
  }
  &__menuIcon {
    cursor: pointer;
    width: 30px;
    font-size: 2rem;
  }
  &__mainNav {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    top: 0;
    left: -100vw;
    z-index: 100;
    text-align: center;
    &__navList {
      text-align: center;
      font-size: 2rem;
      text-transform: capitalize;
      font-family: "Playfair Display", serif;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__listItem {
        margin: 1rem 0;
      }
    }
    &__closeBtn {
      cursor: pointer;
      display: inline-block;
      font-size: 2rem;
      margin: 2rem;
      border: 1px solid $black;
      border-radius: 50%;
      height: 50px;
      width: 50px;
      padding-top: 8px;
    }
  }
}
