.navBar {
  &__mainNav {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    left: -100vw;
    &--open {
      left: 0;
    }
  }
  &__menuIcon {
  }
}
