.heroContainer {
  display: flex;
  max-width: 1163px;
  justify-content: space-evenly;
  margin: 4rem auto 0 auto;
  position: relative;
  &__heroBox {
    cursor: pointer;

    &__image {
      width: 115px;
      height: 460px;
      position: relative;
    }
  }
}
.heroInfo {
  z-index: 100;
  background-color: $purple;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  &__boxImage {
    width: 100px;
    position: relative;
  }
}
