.heroContainer {
  display: flex;
  max-width: 1163px;
  justify-content: space-evenly;
  margin: 8rem auto 0 auto;
  position: relative;
  &__heroBox {
    cursor: pointer;

    &__image {
      width: 115px;
      height: 460px;
      position: relative;
      cursor: pointer;
    }
  }
}
.heroInfo {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  &__backgroundClose {
    width: 100%;
    background-color: $purple;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__boxWine {
    width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    img {
      z-index: 51;
    }
    &__boxText {
      color: #e2bbca;
      max-width: 650px;
      background: #5c1e35;
      padding: 3rem 3rem 3rem 6rem;
      margin-left: -50px;
      z-index: 50;
      h2 {
        font-size: 4rem;
        position: relative;

        color: #c69eb2;
      }
      h3 {
        margin-top: 0.5rem;
      }
      p {
        position: relative;
        font-size: 0.9rem;
        line-height: 1.6rem;
        hr {
          margin: 1rem 0;
          border: 0px solid #7e3d55;
          opacity: 0.5;
          border-radius: 10px;
        }
        img {
          width: 300px;
          display: block;
          margin: 2rem 0 0 auto;
          opacity: 0.4;
        }
      }
    }
  }
}
