.__heroContainer {
  display: flex;
  max-width: 1163px;
  justify-content: space-evenly;
  margin: 8rem auto 0 auto;
  position: relative;

  &__heroBox {
    :hover {
      cursor: url("../../public/ui/cursor.png"), auto;
    }
    &__image {
      width: 115px;
      height: 460px;
      position: relative;
    }
  }
}
.__heroInfo {
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  &__backgroundClose {
    width: 100%;
    background-color: $autumn;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
  }
  &__boxWine {
    width: 800px;
    display: flex;
    align-items: center;
    position: relative;
    top: 236px;
    &__link {
      position: relative;
      z-index: 51;
      cursor: pointer;
    }
    &__boxText {
      color: $autumn;
      max-width: 650px;
      background: $autumnDarkGradient;
      padding: 3rem 3rem 3rem 6rem;
      margin-left: -50px;
      z-index: 50;

      header {
        position: relative;
      }
      h2 {
        font-size: 4rem;
        position: relative;

        color: $autumn;
      }
      h3 {
        margin-top: 0.5rem;
      }
      p {
        position: relative;
        font-size: 0.9rem;
        line-height: 1.6rem;
        hr {
          margin: 1rem 0;
          border: 0px solid #7e3d55;
          opacity: 0.5;
          border-radius: 10px;
        }
        img {
          width: 300px;
          display: block;
          margin: 2rem 0 0 auto;
          opacity: 0.4;
          cursor: pointer;
        }
      }
    }
  }
}
.__mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  h2 {
    color: $autumn;
    font-size: 6rem;
  }
  p {
    margin-top: 1rem;
    max-width: 800px;
    text-align: center;
    font-size: 0.9rem;
  }
}
