.sectionHomeSx {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__boxText {
    flex: 1;
    margin-right: 6rem;
    margin-left: 6rem;
    h2 {
      font-size: 4rem;
    }
    p {
      line-height: 1.8rem;
      max-width: 800px;
    }
  }
  img {
  }
}
.sectionHomeDx {
  display: flex;
  align-items: center;
  gap: 4rem;
  &__boxText {
    flex: 1;
    margin-right: 6rem;
    margin-left: 6rem;
    h2 {
      font-size: 4rem;
    }
    p {
      line-height: 1.8rem;
      max-width: 800px;
    }
  }
  img {
  }
}
