.__sectionHome {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem 0;
  &__boxText {
    flex: 1;
    margin-right: 6rem;
    margin-left: 6rem;

    &__text {
      max-width: 700px;
      display: block;
      margin: 0 auto;
    }
    h2 {
      font-size: 3rem;
    }
    p {
      line-height: 1.8rem;
      max-width: 800px;
    }
  }
}
.sectionHomeDx {
  display: flex;
  align-items: center;

  margin: 4rem 0;
  &__boxText {
    flex: 1;
    margin-right: 6rem;
    margin-left: 6rem;
    h2 {
      font-size: 3rem;
    }
    p {
      line-height: 1.8rem;
      max-width: 800px;
    }
  }
}
